
body {
    margin: 0px;
    padding: 0px;
    overflow: auto;
    /* overflow: hidden; /* Prevent scrolling on the page */
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--p_size);
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: var(--h1_size);
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: medium;
    font-size: var(--h2_size);
    margin: 1%;
}


.progress-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 2%;
    left: 0px;
    bottom: 0px;
}

/* The 'default' class handles the initial fading and the black color */
.default {
    stroke-dasharray: 300;  /* Adjust to the path length if necessary */
    stroke-dashoffset: 300;  /* Hide stroke initially */
    transition: stroke-dashoffset 0.1s ease;  /* Smooth transition */
    stroke: black;  /* Black color for default state */
    animation: fade-in-out 3s infinite;  /* Fade-in-out animation */
    opacity: 1;  /* Fully visible by default */
}

/* The 'scrolling' class will be applied once the user starts scrolling */
.scrolling {
    stroke-dasharray: 300;  /* Adjust to the path length */
    stroke-dashoffset: 300;  /* Hide stroke initially */
    transition: stroke-dashoffset 0.1s ease;  /* Smooth transition */
    stroke: var(--orange);  /* Orange color when scrolling */
    animation: none;  /* Stop fading effect */
    opacity: 1;  /* Fully visible */
}

.hide-arrow {
    transition: display 0.1s ease;
    display: none;
}

.show-arrow {
    transition: display 0.1s ease;
    display: block;
}


.show {
    display: block;
}

.hide {
    display: none;
}

/* General paragraph styling */
.styled-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.6; /* Line spacing for readability */
}

/* For breaking logical blocks of text */
.styled-paragraph span {
    display: block; /* Makes each span a block element */
}

.mobile-nav {
    display: none;
}

.mobile-footer {
    display: none;
}

.mobile-page-navigation {
    display: none;
}

/* Keyframes for fade-in and fade-out animation */
@keyframes fade-in-out {
    0% {
        opacity: 0;  /* Fully transparent */
    }
    50% {
        opacity: 1;  /* Fully visible */
    }
    100% {
        opacity: 0;  /* Fully transparent again */
    }
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 500px) {
    body {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }

    /* The navigation arrows for switching pages on mobile */ 

    .arrow-back {
        transform: rotate(90deg);
    }

    .arrow-foreward {
        transform: rotate(90deg);
    }

    .progress-container {
        display: none;
    }

    .mobile-page-navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
    .mobile-page-navigation p {
        font-weight: 600;
        padding: 2.5% 7.5%;
        background-color: var(--website-grey);
        border-radius: 20px;
    }
    
    .mobile-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--tycho-nav-blue);
        height: auto;
        padding: 10px;
        color: white;
    }
    
    
    
    .footer-information-div { 
        display: flex;
        flex-direction: column;
    }
    
    .footer-information-div p:first-of-type,
    .footer-information-div p:nth-of-type(2) {
        margin-top: 5px;
        margin-bottom: 5px; /* Adjust this value as needed */
    }
    
    .mobile-footer p {
        color: white;
    }

    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .mobile-nav-section{
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        z-index: 10000;
    }

    .mobile-nav-section h2 {
        color: white;
    }

    .mobile-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 1.25%;
        padding-top: 1.25%;
        background-color: var(--tycho-nav-blue);
        width: 95%;
        z-index: 10000;
    }



}




