#hero-text-div {
    margin-left: 60px;
    margin-top: 125px;
}

#introductionary-paragrahp-div {
    width: 37%;
    margin-top: 80px;
}



.list-start-paragraphs-div {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.star-list-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    gap: 10px;

}

.down-arrow {
    position: absolute;
    bottom: 0px;
}




.pic-container{
    display: flex;
    flex-direction: row;
    justify-content: right;
}


#hero-page-background{
    z-index: -99;
    position: absolute;
    top: 0;
    height: 100%;
}

#hero-page-logo{
    position: absolute;
    top: 8cm;
    right: 2cm;
    
}

/* Solve this later by loading in the navbar just as you do on desktop but on phone instead - first fixt the hamburger menu */

.mobile-nav {
    display: none;
}

.mobile-footer {
    display: none;
}

.mobile-page-navigation {
    display: none;
}

/* Laptop */ 

@media screen and (max-width: 1280px){
    #hero-text-div {
        margin-left: 2.5%;
        margin-top: 2.5%;
        margin-bottom: 5%;
    }
    
    #introductionary-paragrahp-div {
        width: 65%;
        margin-top: 2.5%;
    }
    
    
    
    .list-start-paragraphs-div {
        margin-top: 2.5%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    
    .star-list-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-start;
        gap: 10px;
        width: 50%;
    
    }

    #hero-page-logo{
        position: absolute;
        top: 35%;
        right: 5%;
        height: 50%;
    }

}


/* Phone layout */

@media screen and (max-width: 500px) {

    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    #hero-page-logo {
        display: none;
    }
    #hero-page-background {
        display: none;
    }

    #hero-page-background, #hero-page-logo {
        max-width: 100%;
        overflow: hidden;
    }

    .nav-bar {
        display: none;
    }

    #desktop-scroll-page-switch-section {
        display: none;
    }

    .page-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Minimum height of the viewport */
     }

    .mobile-nav {
        position: sticky;
        top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 1.25%;
        padding-top: 1.25%;
        background-color: var(--tycho-nav-blue);
    }

    .mobile-nav h2 {
        color: white;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        flex: 1;

    }

    #hero-text-div {
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-top: 20%;
    }

    #introductionary-paragrahp-div {
        margin-top: 5%; /* Half of the distance between the navigation bar */
        width: 100%;
    }
    
    .list-start-paragraphs-div {
        margin-top: 5%;
    }

    .mobile-footer {
        display: flex;
    }

    .mobile-page-navigation {
        display: flex;
    }

    .star-list-div {
        width: 90%;
    }

}


