.pic-text{
    display: flex;
    flex-direction: row;
    width: 70%;
    background-color: var(--grey) ;
    border-radius: 40px;
}

#jonas-text-bild{
    margin-bottom: 1%;
    margin-left: 12%;
}

#mikael-text-bild{
    margin-left: 16%;
}

h1{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 12%;
}


#footer-container{
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: space-around;
    width: 100%;
    height: 12%;
    background-color: #080C26;    

}


.footer-text{
    color: #FFFFFF;
    z-index: 11;
}



.progress-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 2%;
    left: 0px;
    bottom: 12%;
}

.styled-paragraph{
    margin: 1%;
}

#footer-pattern{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12%;
    z-index: 10;
}

.information-section {

}

@media screen and (max-width: 1920px) {
    #pic-mikael, #pic-jonas{
        height: 200px;
    }
    .pic-text{
        width: 85%;
    }

    #jonas-text-bild{
        margin-bottom: 1%;
        margin-left: 10%;
    }
    
    #mikael-text-bild{
        margin-left: 14%;
    }

    h1{
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        margin-left: 10%;
    }


}

@media screen and (max-width: 1280px) {
    .text {
        overflow-y: auto;
    }

    .header-mobile {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .pic-text {
        height: 150px;
        border-radius: 15px;
    }

    #pic-jonas {
        height: 150px;
    }

    #pic-mikael {
        height: 150px;
    }

    .styled-paragraph span {
        margin-bottom: 10px;
    }
    #mikael-text-bild {
        margin-left: 12%;
    }
    #footer-container {
        height: 14%;
    }
}

@media screen and (max-width: 500px) {

    .header-mobile {
        margin-top: 25%;
    }
    
    .pic-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: 97.5%;
        height: auto;
    }

    .pic-text p, h2 {
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 2.5%;
    }

    .pic-text p {
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-bottom: 5%;
        padding-top: 1.25%;
    }

    .information-section {
        margin-top: 2.5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 2.5%;
        display: flex;
        flex-direction: column;
    }

    .information-section h1 {
        padding-left: 2.5%;
        margin-left: 2.5%;
    }

    #jonas-text-bild{
        margin: 0%;
        margin-bottom: 10%;
    }

    #mikael-text-bild {
        margin: 0%;
        flex-direction: column-reverse;
    }


    #pic-mikael, #pic-jonas {
        width: 100%;
        height: auto;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    #pic-jonas {
        background-image: url("../Images/jonas_mobile.png");
    }

    #pic-mikael {
        background-image: url("../Images/eklund_mobile.png");
    } 

    .desktop-footer {
        display: none;
    }

    #desktop-page-navigation {
        display: none;
    }

}


